
body {
    margin: 0 auto;
}

figure {
    position: relative;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h2,
p {
    padding: 0.2rem 0.4rem;
}

p + p {
    margin-bottom: 1.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

.row + .row {
    border-top: unset;
}

.column {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    min-width: 220px;
    background-color: #fff;
    color: #000;
}

@media (min-width: 700px) {
    .column-1-4 { flex-basis: 50%; }
}

@media (min-width: 1000px) {
    .column-3-4 { flex-basis: 75%; }
    .column-1-2 { flex-basis: 50%; }
    .column-1-4 { flex-basis: 25%; }
}

.spacing {
    height: 100%;
    min-height: 5rem;
    background-color: orange;
}

/* .grid {
    --columns: 12;
    display: grid;
    grid-template-columns: 1fr;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

.grid + .grid {
    border-top: unset;
}

.grid > .column {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

@media screen and (min-width: 30rem) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
    .grid > .column {
        grid-column: span var(--columns);
    }
}

@media screen and (min-width: 60rem) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
    }
    .grid > .column {
        grid-column: span var(--columns);
    }
} */
