main > * {
    float: left;
}

h1, h2, p, figure {
    display: inline-block;
    outline: 2px solid #000;
    margin: 1px;
}


h1, h2, h3, h4, h5,
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + * {
    clear: both;
}

p {
    max-width: 40ch;
}

h1, h2, h3, h4, h5, p {
    padding: 0.2rem 0.5rem;
}

figure {
    width: auto;
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
}
